:root {
    --oas-font-sm: .75rem;
    --oas-font-md: .8125rem;
    --oas-font-lg: .9rem;
    --oas-control-sm: 1.875rem;
    --oas-control-md: 2.125rem;
    --oas-control-lg: 2.625rem;
}
html, body, #app { min-height: 100%; margin: 0; }
body { font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; }
